{% extends 'layout.twig' %}
{% block title %}DefaultController::index{% endblock %}

{% block content %}
<h1>Silex Bootstrap</h1>
<p>You have successfully bootstrapped Silex. Now get to work!</p>
{% endblock %}
